In [ ]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

**Objectives**:

* List of popular data science languages
* Most commonly used libraries by data scientists
* Creation of a table

In [ ]:
Some of the popular languages that Data Scientists use are:
* R 
* Python
* Julia
* Scala
* Java

Some of the popular languages that Data Scientists use are:
* R 
* Python
* Julia
* Scala
* Java

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1. ggplot2
2. caret
3. Pandas
4. Numpy

Some of the commonly used libraries used by Data Scientists include:

1. ggplot2
2. caret
3. Pandas
4. Numpy

In [ ]:
| Data Science Tools |
| ----------------------|
| Vs Code|
| Jupyterlab |
| Rstudio |

| Data Science Tools |
| ----------------------|
| Vs Code|
| Jupyterlab |
| Rstudio |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [10]:
minutes = 200
hours = minutes/60 #This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

## Author
Berniella Ayinkamiye